In [15]:
import pandas as pd
import numpy as np

In [16]:
# pd.DataFrame.iloc -> Purely integer-location based indexing for selection by position.

# .iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.
# Allowed inputs are:

# -An integer, e.g. 5.
# -A list or array of integers, e.g. [4, 3, 0].
# -A slice object with ints, e.g. 1:7.
# -A boolean array.
# -A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above). This 
# is useful in method chains, when you donâ€™t have a reference to the calling object, but would like to base your selection on some value.

# .iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing 
# (this conforms with python/numpy slice semantics).

In [17]:
# Examples:

mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
print(mydict)

# Define a dictionary object to create dataframe later. Note "{}" curly brackets enclose each row.
# Letters are column names, numbers are row VALUES.

[{'a': 1, 'b': 2, 'c': 3, 'd': 4}, {'a': 100, 'b': 200, 'c': 300, 'd': 400}, {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]

In [18]:
type(mydict)  # [] square brackets around makes this a list.

list

In [19]:
df = pd.DataFrame(mydict)  # Define a DataFrame object from dictionary "mydict".
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [20]:
df.iloc[0]  # Calls the first row from the dataframe.

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [21]:
df.iloc[[0]]  # Note if we use 2 pairs of "[]" square brackets, result is a dataframe instead of a series !!!

   a  b  c  d
0  1  2  3  4

In [22]:
type(df.iloc[0])  # Data type is pandas.series !!

pandas.core.series.Series

In [23]:
type(df.iloc[[0]])  # Data type is pandas.DataFrame !!

pandas.core.frame.DataFrame

In [24]:
df.iloc[[0, 1]]  # Call the first row AND second row by using [0, 1] array as input.

     a    b    c    d
0    1    2    3    4
1  100  200  300  400