In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"Col1": [10, 20, 15, 30, 45],
                   "Col2": [13, 23, 18, 33, 48],
                   "Col3": [17, 27, 22, 37, 52]},
                  index=pd.date_range("2020-01-01", "2020-01-05"))
print(df)

            Col1  Col2  Col3
2020-01-01    10    13    17
2020-01-02    20    23    27
2020-01-03    15    18    22
2020-01-04    30    33    37
2020-01-05    45    48    52

In [3]:
df["Col2"] = df["Col2"].shift(periods=-1)  # Shift 'Col2' 1 step UP.
print(df)

            Col1  Col2  Col3
2020-01-01    10  23.0    17
2020-01-02    20  18.0    27
2020-01-03    15  33.0    22
2020-01-04    30  48.0    37
2020-01-05    45   NaN    52

In [4]:
df["Col1"] = df["Col1"].shift(periods = 1)  # Shift 'Col1' 1 step DOWN.
df

            Col1  Col2  Col3
2020-01-01   NaN  23.0    17
2020-01-02  10.0  18.0    27
2020-01-03  20.0  33.0    22
2020-01-04  15.0  48.0    37
2020-01-05  30.0   NaN    52

In [9]:
df = df.shift(periods = 1, axis = "columns")  # Shift dataframe 1 step to the RIGHT.
df

            Col1  Col2  Col3
2020-01-01   NaN   NaN  23.0
2020-01-02   NaN  10.0  18.0
2020-01-03   NaN  20.0  33.0
2020-01-04   NaN  15.0  48.0
2020-01-05   NaN  30.0   NaN